
/*  
*   Notificación style
*/  

.toast-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    display: block;
    width: 300px; /* Ejemplo: Ajusta el ancho según tus necesidades */
    height: auto; /* Ajusta la altura según tus necesidades */
}

.toast {
    background-color: #333;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
}

.toast-close {
    cursor: pointer;
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 10px;
}